<h1>Lista de Registro de Abastecimento</h1>

<table class="styled-table">
  <thead>
      <tr>
          <th>#</th>
          <th>Posto de Gasolina</th>
          <th>KM</th>
          <th>Litros Abastecidos/lts</th>
          <th>Trocou de Combustivel?</th>
          <th>Combustivel</th>
          <th>Já Abasteceu neste Posto?</th>
          <th></th>
      </tr>
  </thead>
  <tbody >
    <tr *ngFor="let item of listaAbastecimento" app-table-row [registroAbastecimento]="item"></tr>
  </tbody>
</table>
